// -----------------------------------------------------------------------------
// This file contains all styles related to the about component.
// -----------------------------------------------------------------------------
.about {
    .header {
        font-family: $main-font;
        color: $brand-color;
        font-size: 2em;
        padding-bottom: 25px;
    }

    .text {
        font-family: $main-font;
        color: $brand-color;
        font-size: 1.25em;
    }

    // img {
    //     max-height: 50%;
    //     max-width: 50%;
    // }
}
#about {
  padding-top: 50px;
  padding-bottom: 50px;
}
