// -----------------------------------------------------------------------------
// This file contains all styles related to the hero component.
// -----------------------------------------------------------------------------
.hero {
    text-align: center;
    color: white;
    background: url(../images/hero_bg.png) no-repeat bottom center;
    background-size: cover;
    height: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    .body {
        display: table-cell;
    }

    .text {
        color: #ffffff;
        font-family: $main-font;
        font-size: 3.15em;
        display: inline-block;
    }

    .inner-hero {
        background-color: transparent !important;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
