// -----------------------------------------------------------------------------
// This file contains all styles related to the page header component.
// -----------------------------------------------------------------------------
.page_header {
    text-align: center;
    color: white;
    // background: url(../images/page_header.png) no-repeat bottom center;
    background-color: $brand-color-alt;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    background-size: cover;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;

    .text {
        color: #ffffff;
        font-family: $main-font;
        font-size: 3.15em;
        display: inline-block;
        padding-top: 25px;
    }

    .inner {
        background-color: transparent !important;
        padding-top: 32px;
        padding-bottom: 32px;

        .header {
            font-family: $main-font;
            color: #ffffff;
            font-size: .75em;
        }
    }
}
