// -----------------------------------------------------------------------------
// This file contains all styles related to the What do I do  component.
// -----------------------------------------------------------------------------
.whatdoido {
    .header {
        font-family: $main-font;
        color: #ffffff;
        font-size: 2em;
    }

    .sub-header {
        font-family: $main-font;
        color: #ffffff;
        font-size: 1.25em;
    }

    .text {
        font-family: $main-font;
        color: #ffffff;
        font-size: 1em;
    }
}

#whatdoido {
   background-color: $brand-color;
}
