// -----------------------------------------------------------------------------
// This file contains all styles related to the What do I do  component.
// -----------------------------------------------------------------------------
.whatdoido {
    .header {
        font-family: $main-font;
        color: #ffffff;
        font-size: 2em;
        padding-bottom: 25px;
    }

    .sub-header {
        font-family: $main-font;
        color: #ffffff;
        font-size: 1.75em;
    }

    .text {
        font-family: $main-font;
        color: #ffffff;
        font-size: 1.25em;
    }
}

#whatdoido {
   background-color: $brand-color;
   padding-top: 25px;
   padding-bottom: 25px;
}
