<!-- Jumbotron discord -->
<div id="discord">
  <div class="jumbotron discord">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="row">
            <div class="jumbotron inner">
              <div class="text">
                <h1 class="header">{{ site.data.settings.discord.heeader }}</h1>
                <h2 class="sub-header">{{ site.data.settings.discord.sub-header }}</h2>
              </div>

            </div>
          </div>
          <div class="cta-button">
            <a class="btn btn-primary btn-lg btn-discord" href="{{ site.data.settings.discord-button.url }}" role="button">{{ site.data.settings.discord-button.title }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
