<!-- Jumbotron Hero -->
<div id="hero">
  <div class="jumbotron hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="row">
            <div class="jumbotron inner">
              <div class="text">
                <div class="header">{{ site.data.settings.hero.heeader }}</div>
                <div class="sub-header">{{ site.data.settings.hero.sub-header }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
