<div class="container live_stream">
  <div class="row">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.twitch.tv/?channel=jsl7"></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <div class="embed-responsive twitch_chat">
        <iframe class="embed-responsive-item" src="https://www.twitch.tv/jsl7/chat" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>
