<div class="container live_stream">
  <div class="row">
    <div class='twitchWrapper'>
      <div class='twitchStream'>
        <iframe src="https://player.twitch.tv/?channel={{ site.data.settings.twitch-channel }}" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class='twitchChat'>
        <iframe frameborder="0" scrolling="no" src="https://www.twitch.tv/{{ site.data.settings.twitch-channel }}/chat"></iframe>
      </div>
    </div>
  </div>
  <div class="container panels">
    <div class="col-md-4">
      <div class="panel">
        <h1 class="header">{{ site.data.settings.rules-panel.title }}</h1>{% for item in site.data.settings.rules-panel.rules %}
        <p class="rules"> {{item.number }} {{ item.rule }}</p>
      </div>{% endfor%}
    </div>
    <div class="col-md-4">
      <div class="panel">
        <h1 class="header">{{ site.data.settings.streamers-panel.title }}</h1>
        <ul class="list-unstyled">
          {% for item in site.data.settings.streamers-panel.streamers %}
          <li>
            <a class="links" href="{{ item.url }}">{{ item.name }}</a>
          </li>{% endfor%}
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <h1 class="header">{{ site.data.settings.music-panel.title }}</h1>
        <ul class="list-unstyled">
          {% for item in site.data.settings.music-panel.music %}
          <li>
            <img src="{{ item.image }}" class="img-responsive" alt="{{ item.title }}">
          </li>{% endfor%}
        </ul>
      </div>
    </div>
  </div>
</div>
