<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="scroll_navbar">
  <div class="container">
    <div class="navbar-header">
      <button id="ChangeToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <div id="navbar-hamburger">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <div id="navbar-close" class="hidden">
          <span class="glyphicon glyphicon-remove"></span>
        </div>
      </button>
      <a class="navbar-brand navbar-desktop navbar-logo logo-desktop" href="/">
        <img alt="{{ site.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/images/logo_text_light.png">
      </a>
      <a class="navbar-brand navbar-logo logo-mobile" href="/">
        <img alt="{{ site.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/images/logo.png">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">{% for item in site.data.settings.menu %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>{% endfor %}
        <li>
          <p class="navbar-btn">
            <a href="{{ site.data.settings.menu-cta.url }}" alt="{{ site.data.settings.menu-cta.title }}" class="btn btn-default btn-cta">{{ site.data.settings.menu-cta.title }}</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>
