<div class="container whatdoido">
  <div class="header">
    WHAT DOES JSL DO?
  </div>
  <div class="col-md-6">
    <div class="sub-header">
      <i class="fa fa-gamepad fa-1x"> Gaming</i>
    </div>
    <div class="text">
      JSL loves to play modded Minecraft, RimWorld
    </div>
  </div>
  <div class="col-md-6">
    <div class="sub-header">
      <i class="fa fa-twitch fa-1x">
        Watchs &amp; Mods Channels
      </i>
    </div>
    <div class="text">
      JSL watchs Darksoto, Pitchit ,crabs_ and ndDemonWolfiv on Twitch for them.
    </div>
  </div>
</div>
