<div id="whatdoido">
  <div class="container-fuild">
    <div class="container whatdoido">
      <div class="header text-center">
        {{ site.data.settings.whatdoido.headaer }}
      </div>
      <div class="col-md-6">
        <div class="sub-header">
          <i class="fa fa-gamepad fa-1x"> {{ site.data.settings.whatdoido.left.header }}</i>
        </div>
        <div class="text">
          {{ site.data.settings.whatdoido.left.description }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="sub-header">
          <i class="fa fa-twitch fa-1x"> {{ site.data.settings.whatdoido.right.header }}</i>
        </div>
        <div class="text">
          {{ site.data.settings.whatdoido.right.description }}
        </div>
      </div>
    </div>
  </div>
</div>
