<div id="whatdoido">
  <div class="container-fuild">
    <div class="container whatdoido">
      <div class="header text-center">
        WHAT DOES JSL DO?
      </div>
      <div class="col-md-6">
        <div class="sub-header">
          <i class="fa fa-gamepad fa-1x"> Gaming</i>
        </div>
        <div class="text">
          JSL loves to play modded Minecraft, RimWorld
        </div>
      </div>
      <div class="col-md-6">
        <div class="sub-header">
          <i class="fa fa-twitch fa-1x">
            Watches &amp; Mods Channels
          </i>
        </div>
        <div class="text">
          Darksoto, Pitchit ,crabs_ and MrDemonWolf just to name some of them.
        </div>
      </div>
    </div>
  </div>
</div>
