// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/* _nav.scss */
@media (max-width: 768px) {
    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: block !important;
    }

    .navbar-brand {
        padding: 2px 10px !important;
    }
}

.navbar-logo > img {
    height: 50px;
    padding-left: 10px;
    padding-top: 12.5px;
}

.logo-mobile {
    display: none;
}

.navbar-brand {
    padding: 2px 2px;
}

.navbar-default {
    background-color: $nav-bgDefault;
    border-color: $nav-bgHighlight;

    .navbar-brand {
        color: $nav-colDefault;

        &:hover, &:focus {
            color: $nav-colHighlight;
        }
    }

    .navbar-text {
        color: $nav-colDefault;
    }

    .navbar-nav {
        > li {
            > a {
                color: $nav-colDefault;
                line-height: 35px;

                &:hover, &:focus {
                    color: $nav-colHighlight;
                }
            }

            @if $nav-dropdown {
                > .nav-dropdown-menu {
                    background-color: $nav-bgDefault;

                    > li {
                        > a {
                            color: $nav-colDefault;

                            &:hover, &:focus {
                                color: $nav-colHighlight;
                                background-color: $nav-bgHighlight;
                            }
                        }

                        &.divider {
                            background-color: $nav-bgHighlight;
                        }
                    }
                }
            }
        }

        @if $nav-dropdown {
            .open .nav-dropdown-menu > .active {
                > a, > a:hover, > a:focus {
                    color: $nav-colHighlight;
                    background-color: $nav-bgHighlight;
                }
            }
        }

        > .active {
            > a, > a:hover, > a:focus {
                color: $nav-colHighlight;
                background-color: $nav-bgHighlight;
            }
        }

        > .open {
            > a, > a:hover, > a:focus {
                color: $nav-colHighlight;
                background-color: $nav-bgHighlight;
            }
        }
    }

    .navbar-toggle {
        border-color: $nav-bgHighlight;

        &:hover, &:focus {
            background-color: $nav-bgHighlight;
        }

        .icon-bar {
            background-color: $nav-colDefault;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: $nav-colDefault;
    }

    .navbar-link {
        color: $nav-colDefault;

        &:hover {
            color: $nav-colHighlight;
        }
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .nav-dropdown-menu {
        > li > a {
            color: $nav-colDefault;

            &:hover, &:focus {
                color: $nav-colHighlight;
            }
        }

        > .active {
            > a, > a:hover, > a:focus {
                color: $nav-colHighlight;
                background-color: $nav-bgHighlight;
            }
        }
    }

    .navbar-nav > li > a {
        padding-top: 16px;
    }

    .navbar-logo > img {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-bottom: 0.2em;
}

#navbar-close {
    color: $nav-colHighlight;
    width: 22px;
    height: 14px;
}

.navbar {
    margin-bottom: 0px;
    // border-bottom: 1px solid $brand-color-alt;
}

.navbar-default .navbar-nav > li > a {
    font-family: $main-font;
    font-size: 1.5em;
}

.dropdown-menu > li > a {
    font-family: $main-font;
    font-size: 1.5em;
}

.btn-cta {
  padding: 8px;
  color: #ffffff;
  background: #2d3b46;
  border: 2px soild #ffffff;
  font-family: $main-font;
  font-size: 1.25em;
  transition: 1s;
  &:hover, &:focus {
    color: #ffffff;
    background: #000000;
  }
}
.navbar-btn {
  line-height: 35px;
  padding: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
