// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
.img-circle {
    border-radius: 50%;
}

// Custom spaceings
.big-content-top {
    padding-top: 30px;
}

.big-content-bottom {
    padding-bottom: 30px;
}

.small-content-top {
    padding-top: 10px;
}

.small-content-bottom {
    padding-bottom: 10px;
}

.page-header_center {
    text-align: center;
}

// Center Row
.row-centered {
    text-align: center;
}

// Center Col
.col-centered {
    margin: 0 auto;
    float: none;
}
